/* Show it is fixed to the top */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
  font-size: 3.5rem;
  }
}

nav{
  background-color: #2e5dbb;
}

/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

#navbarCollapse {
  flex-basis: 40% !important;
  flex-grow: 0 !important;
}

#title {
  flex-basis: 20%;
  align-self: center;
  flex-grow: 1;
}

h1{
  color: #e4e5e6;
}

